
  

   <app-bar 
    [numeroEstratto]="extractedNumber"
    [weel]="weel"
    [data]="barData"></app-bar>
     
    <app-dynamic-form [questions]="formFields" (interactiveSubmit)="filter($event)" [hideSubmitButton]="true"></app-dynamic-form>